header{
    color:coral;
    background-color: blue;
    height:30px;
    padding: 3%;
    text-align: center;
    font-size: 25px;
    padding-top: 10px;
}
form {
    height :250px;
    width: 100%;
    background-color: aqua;
    padding:2%;
    border:5px solid chocolate;
}
    
.inputFormatting{
    display:block;
    padding: 2%;
    margin-top: 2px;
    border-radius: 10px;
    margin-left:40%; 


}
.buttoncolor{
    color:white;
    background-color: green;
    width:200px;
    box-shadow: 2px solid gray;
}
