<div class="panel panel-primary">
    <div class="panel-heading">
<nav class="navbar navbar-default">
  <div class="container-fluid">
      <div class="navbar-header">
          <div class="navbar-brand">
<button (click)="openMenu()">menu</button>
<span>News Headlines</span>  
<span class="example-spacer"></span>
<button>settings</button>
</div>
</div>
</div>
</nav>



<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="navbar-brand">

 
  <span class="example-spacer"></span>
  <button>help</button>
  </div>
  </div>
  </div>
  </nav>
    </div>








 

      <div class="panel-heading">
        <title class="title">{{title}}</title> 
               
        </div>


        <div class="panel-heading">
            <h2>{{title3}}</h2> 
            <img class="img-article" src={{urltoimage3}}>
          </div>

        <div class="panel-heading">
            <h2>{{title2}}</h2> 
            <img class="img-article" src={{urlToImage2}}>
          </div>
      <div class="panel-heading">
          <h2>{{title}}</h2> 
          <img class="img-article" src={{urlToImage}}>
        </div>



    <div class="panel-body">


        <p>
          {{description}}
           
          </p>
          <button  color="primary"  class="action-buttons" >thumb_up_alt 12 Likes</button>
            <button color="primary" class="action-buttons" >comment Comments</button>
            <button  color="primary" class="action-buttons" >share Share</button>
            <a  color="primary" href="#" target="_blank" >visibility More</a>
          </div>
  </div>
  
  
    





