<form #studentForm="ngForm" (ngSubmit)="SaveStudent(studentForm.value)">
	<div class="panel panel-primary">
		<div class="panel-heading">
			<h3 class="panel-title">ADD STUDENT DATA</h3>
		
			 <div class="form-group">
				<label for="id">id</label>
					<input type="text"  name="id" [(ngModel)]="id" class="form-control">
			</div>
	
			 <div class="form-group">
				<label for="name">name</label>
					<input type="text"  name="name" [(ngModel)]="name" class="form-control">
			</div>
	
	
			 <div class="form-group">
				<label for="email">emailId</label>
					<input type="text"  name="email" [(ngModel)]="email" class="form-control">
			</div>
	
			 <div class="form-group">
				<label for="phoneNumber">phoneNumber</label>
					<input type="text"  name="phoneNumber" [(ngModel)]="phoneNumber" class="form-control">
			</div>
	
			 <div class="form-group">
				<label for="department">department</label>
					<input type="text"  name="department" [(ngModel)]="department" class="form-control">
			</div>
	
	
	
	
		 <button type="submit" class="btn btn-primary margin5">SAVE STUDENT</button>
	
	
	</div>
	</div>
	</form>
	
	{{studentForm.value|json}}