h1{
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT5-9-t2GQPJU2UevTK3r3H2jPIgN3NuSGqgfxgZ7ACkNr-rsGxEQ&s");
border-bottom: 5px solid black;
height: 30%;
}
ul{
	background-color: rgb(195, 141, 245);
	padding: 5px;
	margin:2px;
	height: 100%;
}
li{
	background-color: rgb(55, 65, 65);
	padding:10px;
	margin:5px;
	color:darkgoldenrod;
	border-radius: 10px;
	border-bottom: 3px solid red;

}
ul li:hover{
	background-color: brown;
	color:black;
	padding:10px;
	border-bottom: 3px solid rgb(211, 218, 118);
}