<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1 >
    Welcome to {{ title }}!
  </h1>
  </div>



<div>
  <div class="row">
    <div class="col-md-3">
     <ul>
              <li>
                <a routerLink="studentInfo" routerLinkActive="active"> studentInfo </a>
              </li>
              <li>
                <a routerLink="StudentIO" routerLinkActive="active">Input output with student</a>
              </li>
              <li>
                <a routerLink="Calci" routerLinkActive="active"> Simple Calci</a>
              </li>
              <li>
                <a routerLink="Template" routerLinkActive="active">Template design</a>
              </li>
              <li>
                <a routerLink="Signin" routerLinkActive="active">sign in</a>
              </li>
              <li>
                <a routerLink="mobileData" routerLinkActive="active">Mobile data</a>
              </li>
              <li>
                <a routerLink="client1">client1</a>
              </li>
              <li>
                <a routerLink="client2">client2</a>
              </li>
          </ul>

      </div>
      <div class="col-md-8">
          
            <router-outlet></router-outlet>
     
       

        <app-button>Angular button Element1</app-button>
        <app-button>Angular button Element2</app-button>

        <div class="container">
          <div class="row">
            <div class="col-md-12">
          <h5>first name</h5><app-text-field></app-text-field>
          <h5>last name</h5><app-text-field></app-text-field>
        </div>
        </div>
          <app-check-box></app-check-box>
        </div>
      
      </div>
    </div>
       

</div>
  




 










  

   
